/* Untuk Tablet */
@media (max-width: 1000px) {
 .travel { 
   width: 50%; 
   margin-bottom: 50px; 
  } 

 
 .top-wrapper h1 { 
   font-size: 32px; 
  } 
 
 h2{
   font-size:20px;
 }
 
}

/* Untuk Smartphone */
@media (max-width: 670px) {

.header{
	width:65%;
}

.header-right { 
 display: none; 
}

.menu-icon { 
 display: block; 
} 

.icon-bar {
	display: none;
}
 

.travel { 
 width: 100%; 
} 


footer { 
 text-align: center; 
} 

.top-wrapper { 
text-align: left; 
} 


.top-wrapper h1 { 
font-size: 24px; 
line-height: 36px; 
} 


.top-wrapper p { 
font-size: 14px; 
 line-height: 20px; 

}

.jump-to ul li {
	float: left;
	width: 100%
}

input, textarea {
  width: 80%;
}

.contact-submit {
	padding-right:70px;
}